/*
Replace this example stylesheet with your own.
Please try to keep the code formatting nice.

We want to see a sensible mobile-first, responsive design.
This means the default styles are for the smallest mobile size.
*/

/* Multi-line rulesets must use whitespace for indentation consistently. */
html {
	background-color: #D9D6C8;
	min-width: 320px;
}

.menu {
	background-color: #333;
	overflow: hidden;
	text-align: center;
}

nav{
	display: flex;
	justify-content: center;
	font-size: 2em;
	font-family: sans-serif;
	flex-direction: column;
	text-align: center;
}

nav.closed {
	display: none;
}

a {
	text-align: center;
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 0, 1),
      rgba(255, 0, 0, 1),
			rgba(0, 0, 255, 1),
			rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

.navbar a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	background-color: #04AA6D;
	color: white;
}

#menuHandler {
	position: fixed;
	right: 0;
	padding: 3px 3px 3px 3px;
	font-size: 2em;
	font-weight: bolder;
	background-color: #D9D6C8;
}

#menuHandler:hover {
	background-color: grey;
}

body {
	/* note the indentation here */
	color: #024;
	margin: 0;
	font-family: sans-serif;
}

header img {
	margin-top: 1em;
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 90vw;
	border-radius: 25%;
	background-color: inherit;
}

main {
		padding: 0 0.75em;
}

/* One-liners are fine for very simple rulesets. */
h1, h2, h3, h4 {
	font-family: sans-serif;
	text-align: center;
}

.hobby {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hobby img {
	margin: 1em;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	filter: drop-shadow(0 0 0.75rem);
	object-fit:contain;
}

.awards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.awards img {
	margin: 1em;
	filter: drop-shadow(0 0 0.75rem);
}

.badge-group {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.badge-252 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.badge-BUTTS {
	width: 200px;
	height: 200px;
	border-radius: 20%;
}

/*
You will probably need at least two media queries to handle larger screens.
Your queries should be configured to work with your content
*/
@media screen and (min-width: 321px) {
	/* Code inside media queries should be indented one step further. */
	body { font-size: 1.2em }
}

@media screen and (min-width: 760px){
	.awards {
		flex-direction: row;
	}
}

@media screen and (min-width: 870px) {
	nav {
		flex-direction: row;
	}

	.hobby {
		flex-direction: row;
	}
}

@media screen and (min-width: 1480px) {
	.badge-group {
		display: flex;
		flex-direction: row;
	}
}
/*
We don't want to see a min-width of 457px in your code
This was chosen to match the template content.
*/
